<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Air Quality History</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Carbon monoxide</th>
                    <th>Nitrogen dioxide</th>
                    <th>Ozone</th>
                    <th>Sulphur dioxide</th>
                    <th>Fine particles matter</th>
                    <th>Ammonia</th>
                    <th>Air Quality Index</th>
                    <th>City Name</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row['Carbon monoxide'] }}</td>
                    <td>{{ row['Nitrogen dioxide'] }}</td>
                    <td>{{ row['Ozone'] }}</td>
                    <td>{{ row['Sulphur dioxide'] }}</td>
                    <td>{{ row['Fine particles matter'] }}</td>
                    <td>{{ row['Ammonia'] }}</td>
                    <td>{{ row['Air Quality Index'] }}</td>
                    <td>{{ row['City Name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn btn-danger">Go Back</a>
    </div>
</body>
</html>
